/* You can add global styles to this file, and also import other style files */
.rist-btn {
    background-color: #EBFF00;
    border-radius: 20px;
    border: 0px;
}
.rist-btn:hover {
    background-color:#b5c50a
}
.rist-outline-btn {
    color: #EBFF00;
    background-color: transparent;
    border: 1px solid #EBFF00;
    padding: 0.375rem 0.75rem;
    border-radius: 10px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    
}
.rist-outline-btn:hover {
    color: black;
    background-color: #EBFF00;
    border-color: #EBFF00;
}
